:root {
  --font-family-sans: "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --font-size-50: 0.75rem;
  --font-size-100: 0.875rem;
  --font-size-200: 1rem;
  --font-size-300: 1.125rem;
  --font-size-400: 1.25rem;
  --font-size-500: 1.5rem;

  --line-height-50: 1rem;
  --line-height-100: 1.25rem;
  --line-height-200: 1.5rem;
  --line-height-300: 1.75rem;
  --line-height-400: 1.875rem;
  --line-height-500: 2rem;

  --font-size-small: var(--font-size-100);
  --font-size-regular: var(--font-size-200);
  --font-size-medium: var(--font-size-400);
  --font-size-large: var(--font-size-500);

  --line-height-small: var(--line-height-50);
  --line-height-regular: var(--line-height-200);
  --line-height-medium: var(--line-height-400);
  --line-height-large: var(--line-height-500);

  --icon-size-small: 1rem;
  --icon-size-medium: 1.5rem;
}
